name: release

on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: npm
      - name: Do a Clean Install
        run: npm ci
      - name: Run Linting Steps
        run: npm run lint
      - name: Run Unit Tests
        run: npm test
      - name: Run Semantic Release
        run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Sign Add-On Via AMO
        run: npx web-ext sign --source-dir dist --artifacts-dir artifacts --channel listed
        env:
          WEB_EXT_API_KEY: ${{ secrets.AMO_ISSUER }}
          WEB_EXT_API_SECRET: ${{ secrets.AMO_SECRET }}
